name: DevOps CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          pip install -r application/requirements.txt
          python -m unittest discover application || echo "No tests found"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Plan
        run: |
          cd terraform
          terraform init
          terraform validate
          terraform plan -out=tfplan

      - name: Terraform Apply
        env:
          AWS_ACCESS_KEY_ID: $\{{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: $\{{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          cd terraform
          terraform apply -auto-approve tfplan

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Run Ansible
        env:
          PRIVATE_KEY_PATH: $\{{ secrets.PRIVATE_KEY_PATH }}
        run: |
          ansible-playbook -i ansible/inventory.ini ansible/playbook.yml
